body {
    margin-right: auto;
    margin-left: auto;
}

.container {
    width: 50%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

footer {
    margin-top: 20px;
}

input[type='submit'] {
    float: right;
}

.list {
    padding: 10px;
}

.navMenu {
    text-align: center;
}

.nav {
    display: inline-block;
    padding: 10px;
    list-style-type: none;
}

.buttonRight {
    padding: 10px;
}

#linkSpecial {
    color: white;
    text-decoration: none;
}